h1.a {
    color: red;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.h2{ color: darkgreen;
    font-size: 200%;
}
.h3{color: pink;
    font-size: 300%;

}
body{
    background-image: url(telletubiessun.png);
    background-size: 1700px;
}
p {
    color:wheat;
}
.li1{ color: aqua;

}
.li2{
    color: blueviolet;
}
.ul2{
    list-style: upper-roman;
}